# Dependencies
node_modules/

# Next.js build output
.next/
out/
build/

# Environment Variables (CRÍTICO para segurança)
.env
.env.local
.env.development.local

# Prisma / Database
# Ignoramos o arquivo de dados, mas mantemos o schema e migrations
*.db
*.db-journal


# Logs e Cache
npm-debug.log*
yarn-debug.log*
.eslintcache